
<div class="animate1" class="container-fluid" style="">
<br/>
<div style="width:350px;margin-left:30px;padding:20px;background-color: rgba(255, 255, 255, 0.7);" class="pull-left">
	<h1>Emangu</h1>
	<h4>Contact</h4>
	<p>
		#318,16th Cross,<br/>
		JP Nagar 5th Phase,Banglore<br/>
		Phone No:08040943507
	</p>
	<form>
		<div class="input-group">
	  		<span class="input-group-addon">Name</span>
	  		<input type="text" class="form-control" placeholder="Name">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Email</span>
	  		<input type="text" class="form-control" placeholder="Email Id">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Subject</span>
	  		<input type="text" class="form-control" placeholder="Subject">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Message</span>
	  		<textarea type="text" class="form-control" placeholder="Message"></textarea>
		</div>
		<br/>
		<button class="btn btn-info pull-right" >Send</button>
	</form>
</div>

</div>
  

