
<div class="animate1" class="container-fluid" style="">
<br/>
<div style="width:350px;margin-left:30px;padding:20px;background-color: rgba(255, 255, 255, 0.7);" class="pull-left">
	<h1>Emangu</h1>
	<h4>Title</h4>
	<form>
		<div class="input-group">
	  		<span class="input-group-addon">Title</span>
	  		<input type="text" class="form-control" placeholder="Title">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Description</span>
	  		<textarea type="text" class="form-control" placeholder="Message"></textarea>
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">work</span>
	  		<input type="text" class="form-control" placeholder="Work">
		</div>
		<br/>
		<button class="btn btn-info pull-right" >Submit</button>
	</form>
</div>

</div>
  

<div class="navbar container-fluid"  style="padding-top:30px;">
    <h5 style="text-align:center;"><span class="label label-default">Copyright &copy; 2014 by emangu Terms of Service </span></h5>
  </div>    
</div>


