
<div class="navbar container-fluid"  style="padding-top:30px;">
    <h5 style="text-align:center;"><span class="label label-default">Copyright &copy; 2014 by emangu Terms of Service </span></h5>
  </div>
</div>
