<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emangu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-link" href="#top">Emangu</a>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../../../../public/p1/index.html">Home</a></li>
            <li><a href="../../../../public/p1/portfolio.html">Portfolio</a></li>
            <li><a href="../../../../public/p1/contact.html">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav> <!-- /.navbar -->

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Photography</h1>
        <br>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="spacer"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 feature-text">
          <h3>About</h3>
          <p>
           I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image.
          </p>
        </div> <!-- /.feature-text -->
        <div class="col-md-8 col-sm-6">
          <img src="img/stock2.jpg" class="feature-photo">
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->

      <div class="spacer"></div>

    </div> <!-- /.container -->

    <footer>
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; Emangu 2014
        </p>
        
      </div> <!-- /.container -->
    </footer>

   
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
   
  </body>
</html>
