<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emangu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-link" href="#top">Emangu</a>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../../app/views/users/templates/about.html">About</a></li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav> <!-- /.navbar -->

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Photography</h1>
        <br>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="spacer"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 feature-text">
          <h3>Contact</h3>
          <p>
		#318,16th Cross,<br/>
		JP Nagar 5th Phase,Banglore<br/>
		Phone No:08040943507
	</p>
	<form>
		<div class="input-group">
	  		<span class="input-group-addon">Name</span>
	  		<input type="text" class="form-control" placeholder="Name">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Email</span>
	  		<input type="text" class="form-control" placeholder="Email Id">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Subject</span>
	  		<input type="text" class="form-control" placeholder="Subject">
		</div>
		<br/>
		<div class="input-group">
	  		<span class="input-group-addon">Message</span>
	  		<textarea type="text" class="form-control" placeholder="Message"></textarea>
		</div>
		<br/>
		<button class="btn btn-info pull-right" >Send</button>
	</form>
        </div> <!-- /.feature-text -->
        <div class="col-md-8 col-sm-6">
          <img src="img/stock3.jpg" class="feature-photo">
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->

      <div class="spacer"></div>

    </div> <!-- /.container -->

    <footer>
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; Emangu 2014
        </p>
        
      </div> <!-- /.container -->
    </footer>

    
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
   
  </body>
</html>
