<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Emangu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-link" href="#top">Emangu</a>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="../../app/views/users/templates/about.html">About</a></li>
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav> <!-- /.navbar -->

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Photography</h1>
        <br>
      </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="spacer"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 feature-text">
          <h3>Welcome Title</h3>
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image.
          </p>
        </div> <!-- /.feature-text -->
        <div class="col-md-8 col-sm-6">
          <img src="img/stock1.jpg" class="feature-photo">
        </div> <!-- /.col-md-8 -->
      </div> <!-- /.row -->

      <div class="spacer"></div>

    </div> <!-- /.container -->

    <footer>
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; Emangu 2014
        </p>
        
      </div> <!-- /.container -->
    </footer>

   
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
   
  </body>
</html>
