<div class="container">
    <div class="feature_heading">My Web Page</div>
    <div class="my_dash">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <image src="../images/01.jpg" ></image>
                </a>
            </div>


            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <image src="../images/09.jpg"></image>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <image src="../images/01.jpg" ></image>
                </a>
            </div>


            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <image src="../images/09.jpg"></image>
                </a>

            </div>

        </div>
    </div>
</div>
