<script>
    $(document).ready(function () {
        $('#admin_popup').modal('show')
    });
</script>
<%= render 'layouts/site_popup' %>
<!--DYNAMIC BODY-->

<div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs hidden-sm">
        <li data-target="#main-carousel" data-slide-to="0" class="active"><label class="small1"><img
                src="../images/icon3.png" alt="screen-name"></label>
            <label>PROJECT TITLE</label></li>
        <li data-target="#main-carousel" data-slide-to="1"><label class="small1"><img src="../images/icon3.png"
                                                                                      class="visible-lg-*"
                                                                                      alt="screen-name"></label>
            PROJECT TITLE
        </li>
        <li data-target="#main-carousel" data-slide-to="2"><label class="small1"><img src="../images/icon3.png"
                                                                                      class="visible-lg-*"
                                                                                      alt="screen-name"></label>
            PROJECT TITLE
        </li>
        <li data-target="#main-carousel" data-slide-to="3"><label class="small1"><img src="../images/icon3.png"
                                                                                      class="visible-lg-*"
                                                                                      alt="screen-name"></label>
            PROJECT TITLE
        </li>
        <li data-target="#main-carousel" data-slide-to="4"><label class="small1"><img src="../images/icon3.png"
                                                                                      class="visible-lg-*"
                                                                                      alt="screen-name"></label>
            PROJECT TITLE
        </li>


    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/juned5.jpg" alt="..." style="width:100%;height:600px;">


        </div>
        <div class="item">
            <img src="images/juned1.jpg" alt="..." style="width:100%;height:600px;">


        </div>
        <div class="item">
            <img src="images/juned2.jpg" alt="..." style="width:100%;height:600px;">


        </div>
        <div class="item">
            <img src="images/juned3.jpg" alt="..." style="width:100%;height:600px;">


        </div>
        <div class="item">
            <img src="images/juned4.jpg" alt="..." style="width:100%;height:600px;">


        </div>

    </div>
    <a class="left carousel-control hidden-lg hidden-md" href="#main-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control hidden-lg hidden-md" href="#main-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
<div class="about_project">
    <div class="about_project_text">Build your business as a personal website today</div>
</div>

<div class="feature_container">
    <div class="container">
        <div class="feature_heading">FEATURE</div>
        <div class="feature_auto">
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">User Friendly</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Universal</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Bespok Designs</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Premium Option</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Custom Domains</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Flexible</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Wallet-Friendly</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
            <div class="feature_detail">
                <div class="user_image">
                    <image src="../images/user.jpg"></image>
                </div>
                <div class="user_friendly_heading">Strong Presence</div>
                <div class="user_friendly_text">User Friendly is a daily webcomic about the staff of a small fictional
                    Internet
                    service provider, Columbia Internet. The strip's humor tends to be centered around technology jokes
                    and
                    geek
                    humour.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="template_container">
    <div class="feature_heading ">Template</div>
    <div class="sreen-gallery-cursual">


        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({
                    items: 5,
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,
                    navigationText: false,
                    pagination: false
                });
            });
        </script>


        <div id="owl-demo" class="owl-carousel">
            <div class="item">
                <img class="lazyOwl" data-src="../images/screen2.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="../images/screen2.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen3.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen4.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen5.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen1.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen2.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
            <div class="item">
                <img class="lazyOwl" data-src="images/screen3.jpg" alt="screen-name">
                <label>PROJECT TITLE</label>
            </div>
        </div>

    </div>
</div>
<div class="panel-body">
    <div class="section">
        <div class="container">
            <div class="p-t-60 p-b-60">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="text-center text-white m-b-30">Would you like to Subscribe Us</h3>

                        <div class="row form-row">
                            <div class="col-md-6 col-md-offset-2 no-padding  col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                <input name="form3Occupation" id="form3Occupation" type="text" class="form-control "
                                       placeholder="Enter your email addres">
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-4 xs-p-l-10 ">
                                <button type="button" class="btn btn-primary btn-cons">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DYNAMIC BODY END-->




