<div class="container">
    <div class="row" style="text-align: center">
            <h1 style="color:gray;">About Emangu </h1>

            <h4 style="color:#091b40; text-justify: auto">We are going to leader in the global marketplace and among the top 10 technology firms in the world.
                Our continued rapid growth is a testament to the certainty our clients experience every day.
                We add real value to global organizations through domain expertise plus solutions with proven success in the field and world-class service.
                It’s how we keep you moving forward.</h4>
    </div>
</div>