<div class="container">
    <div class="row" style="text-align: center">
            <h1 style="color:darkgray;">Contact Page</h1>
            <p>
                #318,16th Cross, 5th Phase</br>
                Bangalore - 560078</br>
                India 08040943507</br>
                support@eMangu.com </br>
            </p>
    </div>
</div>