<!DOCTYPE html>
<html>
<head>
    <title>emangu</title>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <br/>
            <!-- First Blog Post -->
            <div class="bg-info" style="padding:10px;">
                <h2>
                    <a href="">Post Title</a>
                </h2>

                <p class="lead">
                    by <a href="postlist.html">Start Bootstrap</a>
                </p>

                <p><br/>Having to type commands into your game over and over to make sure it's working is annoying.
                    Wouldn't it be better to write little pieces of code that test your code? Then when you make a
                    change, or add a new thing to your program, you just "run your tests" and the tests make sure things
                    are still working. These automated tests won't catch all your bugs, but they will cut down on the
                    time you spend repeatedly typing and running your code.</p>
                <a class="btn btn-primary" href="show.html">Read More
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                <br/>

                <p style="margin-top:5px;"><span class="glyphicon glyphicon-time"></span> Posted on 2014/10/10 13:58</p>
            </div>
            <br/>

            <div class="bg-info" style="padding:10px;">
                <h2>
                    <a href="">Post Title</a>
                </h2>

                <p class="lead">
                    by <a href="postlist.html">Start Bootstrap</a>
                </p>

                <p><br/>Having to type commands into your game over and over to make sure it's working is annoying.
                    Wouldn't it be better to write little pieces of code that test your code? Then when you make a
                    change, or add a new thing to your program, you just "run your tests" and the tests make sure things
                    are still working. These automated tests won't catch all your bugs, but they will cut down on the
                    time you spend repeatedly typing and running your code.</p>
                <a class="btn btn-primary" href="show.html">Read More
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                <br/>

                <p style="margin-top:5px;"><span class="glyphicon glyphicon-time"></span> Posted on 2014/10/10 13:58</p>
            </div>
            <br/>

            <div class="bg-info" style="padding:10px;">
                <h2>
                    <a href="">Post Title</a>
                </h2>

                <p class="lead">
                    by <a href="postlist.html">Start Bootstrap</a>
                </p>

                <p><br/>Having to type commands into your game over and over to make sure it's working is annoying.
                    Wouldn't it be better to write little pieces of code that test your code? Then when you make a
                    change, or add a new thing to your program, you just "run your tests" and the tests make sure things
                    are still working. These automated tests won't catch all your bugs, but they will cut down on the
                    time you spend repeatedly typing and running your code.</p>
                <a class="btn btn-primary" href="show.html">Read More
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                <br/>

                <p style="margin-top:5px;"><span class="glyphicon glyphicon-time"></span> Posted on 2014/10/10 13:58</p>
            </div>


            <hr>

            <!-- Pager -->
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

        </div>
        <br>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="well">
                <h4>Recent Posts</h4>
                <ul class="list-unstyled">
                    <li><a href="show.html">Post Title</a>
                    </li>
                    <li><a href="show.html">Post Title</a>
                    </li>
                    <li><a href="show.html">Post Title</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>

</body>
</html>
