<!-- Footer Part-->
<div style="width: 100%; height:20px; background-color: #211947"></div>
<div class="container">
    <div class="row" style="padding-top:20px;padding-bottom:20px;float: left">
        <div class="col-md-2 ">
            <image src="../images/footer_logo.png"></image>
        </div>
        <div class="col-md-2 footertext">
            <br/>
            #318,16th Cross, 5th Phase<br/>
            Bangalore - 560078<br/>
            India
            08040943507<br/>
            support@eMangu.com
        </div>
        <div class="col-md-2 footertext">
            <br/>

            <div class="sitemap">Sitemap</div>
            <div class="sitemap_list1">
               <a href="#"> Free website builder</a></br>
               <a href="#"> Business features</a></br>
               <a href="#"> Free SEO guide</a></br>
               <a href="#"> Active competitions</a></br>
               <a href="#"> Build a free website</a></br>
               <a href="#"> Free e-commerce shop</a>
            </div>
            <br/> <br/>
        </div>

        <div class="col-md-2 footertext">
            <br/>

            <div class="sitemap">RECRUITMENT</div>
            <br/>

            <div>
                We are frequently on the lookout for new talent!
            </div>
        </div>
        <div class="col-md-2 footertext">
            <br/>

            <div class="footertext">
                <div class="social">FOLLOWS US</div>
                <image src="../images/social-media-gft.png"></image>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer" align="center">Copyright &copy;2014 Emangu. All rights reserved.</div>

<!--Footer Part Ends-->